<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{i.Tema}}</title>
    <style>
        #banner {
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:100%;
            height: 240px;
            object-fit:cover;
        }
    </style>
</head>
<body>
    {{i['id']}}
    <h3>Tema:</h3> 
    {{i['Tema']}}
    <br><br>
    <h3>Contenido:</h3>
    {{i['Contenido']}}
    <br><br>
    <h3>Caso:</h3>
    {{i['Caso']}}
    <br><br>
    <h3>Resuelve:</h3>
    {{i['Resuelve']}}
    <br>
    <br>
    <br>
    <br>
    

</body>
</html>
