<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pm1-2025</title>
</head>
<body>
    <header>
        <h1>Pensamiento Matemático 1</h1>
    </header>
    <main>
        <p>This is a simple HTML page. You can add more content here!</p>
        <img src= "x"> 
        <br>
        <br>
        <a href="https://www.kia.com/mx/showroom/k3-sedan.html" target="_blank">Visit                Example</a>
    </main>
    <footer>
        <p>&copy; 2025 DGETAyCM</p>
    </footer>
</body>
</html>