<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pm1-2025</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
        #banner {
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:100%;
            height: 240px;
            object-fit:cover;
        }
        

        
    </style>
</head>
<body>
    <header>
        <h1 class="text-center mt-4 mb-2" style="color:rgb(100,100,100);">
            Pensamiento Matemático 1
        </h1>
    </header>
    <main class="container">
        <p style="text-align:right;">M.C. Héctor René becerril Cejudo</p>
        <img id="banner" src= "https://matematicas-1.onrender.com/static/books.jpg"> 
        <br>
        <br>
        <a href="https://dgetaycm.sep.gob.mx/" target="_blank">Acerca de DGETAyCM</a>&#128072;<br>
        <a href="https://renebec.github.io/mapdgetaycm/" target="_blank">Mapa de planteles</a>&#128072;
        
        <h2 class="text-center mt-4 mb-2" style="color:rgb(100,100,100);">
            Acerca del curso
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2 class="text-center mt-4 mb-2" style="padding-bottom:16px;color:rgb(100,100,100);">
        Parcial 1
        </h2>
        
        <div>
            {% for i in temas %}
            {% include 'temasitem.html' %}
            {% endfor %}
        </div>

                

        <div style="text-align:center;">
            <button class="btn btn-primary btn-lg">Contact us</button>
        </div>
    </main>
    <footer>
        <p class="mt-5 text-center">&copy; 2025 DGETAyCM</p>
    </footer>
</body>
</html>