<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:5px;">
    <div class="col-9">

        <h4 style="margin-bottom:4px;">                                 
            {{i['pg']}} 
        </h4>
        <h4 style="margin-bottom:4px;">                                 
            {{i['Tema']}} 
        </h4>



        <div>
            {% set tiempo = 0 %}
            {% set tiempo = tiempo + i['Apertura tiempo total'] + i['Desarrollo tiempo total'] + i['Laboratorio tiempo total'] + i['Cierre tiempo total'] %}
            Duración: {{tiempo}} minutos
        </div>

        <div> 
            {% set eva = 0 %}
                    {% set eva = eva + i['Apertura eva pond'] + i['Desarrollo eva pond'] + i['Laboratorio eva pond'] + i['Cierre eva pond'] %}

        Evaluación: {{eva}} %


            
        </div>



        <div>
            Contenido: {{i['Contenido']}}
        </div>
<!--
        <div>
            Caso: {{i['Caso']}}
        </div>

        <div>
            Resuelve: {{i['Resuelve']}}
        </div>
        -->
    </div>

    <div class="col-3"> 
        <a href= "{{ url_for('show_tema', tema_id=i['id']) }}" type="button" class= "btn btn-outline-primary"> Ir al Tema</a>
        <!--
        {% for tema in temas %}
        <a href= "{{ url_for('show_tema', tema_id=loop.index0) }}" type="button" class= "btn btn-outline-primary"> Ir al Tema</a>
        {% endfor %}

        
        <button type="button" class="btn btn-outline-primary">Apply</button>
        -->
    </div>
   

</div>