<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:5px;">
    <div class="col-9">
        <h4 style="margin-bottom:4px;">                                 
            {{i['Tema']}} 
        </h4>



        <div>
            Duración: {{i['Duración']}}
        </div>


        {% if 'Evaluación' in i %}

        <div>
            Evaluación: {{i['Evaluación']}}
        </div>

        {% endif %}

        <div>
            Contenido: {{i['Contenido']}}
        </div>
<!--
        <div>
            Caso: {{i['Caso']}}
        </div>

        <div>
            Resuelve: {{i['Resuelve']}}
        </div>
        -->
    </div>

    <div class="col-3"> 
        <a href= "{{ url_for('show_tema', tema_id=i['id']) }}" type="button" class= "btn btn-outline-primary"> Ir al Tema</a>
        <!--
        {% for tema in temas %}
        <a href= "{{ url_for('show_tema', tema_id=loop.index0) }}" type="button" class= "btn btn-outline-primary"> Ir al Tema</a>
        {% endfor %}

        
        <button type="button" class="btn btn-outline-primary">Apply</button>
        -->
    </div>

</div>